:root {
	--font-size-detail: 14px;
	--color-font: #515151;
	--color-detail: 14px;
}

html {
	background: #fff;
  
	body {
		font-family: system-ui, —apple-system, Segoe UI, Rototo, Helvetica, Arial,
			sans-serif;
	}
}
